<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>POSBill.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AEC0FED226F8717005F8B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AEC1000226F8719005F8B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AEC100B226F8719005F8B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC8781E322DB7E2000461D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC8781EB22DB7E2100461D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
